<ion-view view-title="Contacts">
  <ion-content> 
  <div >
  <div class="list" >

    <a class="item item-avatar" id="Prac" >
      <img src="/img/sc1.jpg">
      <h2>Venkman</h2>
      <p>89676576743</p>
    </a>
   
  
    <a class="item item-avatar">
      <img src="/img/sc2.jpg">
      <h2>Vikrathi</h2>
      <p>4364634656</p>
    </a>
   
   

    <a class="item item-avatar" >
      <img src="/img/sc3.jpg">
      <h2>Samiksha</h2>
      <p>35352353532</p>
    </a>


    <a class="item item-avatar" >
      <img src="/img/sc4.jpg">
      <h2>Vimala</h2>
      <p>445352532</p>
    </a>
   </div>
   </div>
    </ion-content>
  </ion-view >