<ion-view view-title="Games">
<ion-content>

 

    <a class="item item-thumbnail-left" >
      <img src="/img/1.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

   
    <a class="item item-thumbnail-left">
      <img src="/img/2.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

  
    <a class="item item-thumbnail-left" >
      <img src="/img/3.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>

   
    <a class="item item-thumbnail-left">
      <img src="/img/4.jpg">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
  
 </ion-content>
</ion-view>
 
