 <ion-view view-title="Home">
  <ion-content>
  <div class="list card">
  <div class="item item-avatar">
    <img src="/img/images.jpg">
    <h2>Introduction
    </h2>
    
  </div>

  <div class="item item-body">
    <img class="full-image" src="/img/chrysanthemum.jpg">
    <p>
      The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
    </div>
     </ion-content>
</ion-view>
